html {
    overflow: hidden;
}

body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,99,1) 35%, rgba(255,200,0,1) 100%);
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
    margin-top: 80px;
}

.page-title {
    color: #000;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #000;
    margin-top: 5px;
}

input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
}

label {
    color: #000;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
    font-weight: 600;
}

img {
    margin-right: 10px;
}

.result {
    color: #000;
    font-size: 25px;
    margin-top: 12px;
}

.icons {
    margin-top: 25px;
}

footer p {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    font-size: 12px;
}